$lightgreyy: #e3e3e3;
$starBuckGrey: #585858;
$starBuckBlack: rgba(0,0,0,.87);
$starBuckGreen: #00754a;
$starBuckDarkGreen: #1e3932;
$starBuckPink: #eb81a5;
$starbuckPinkDark: #eb81a493;
$starBucklightgreen:#d4e9e2;
$starBuckMindaro:#bbfd75;
$starBuckManz: #EDED68;
$starBuckDoveGrey: #898787;
$starBuckSilver: #B8B8B8;
$starBuckGoldLightest: #faf6ee;
$starBuckCeramic: #edebe9;